@import url(variable.css);
@import url(reset.css);

body {
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    background-color: var(--thickGreen);
    display: flex;
    color: var(--black);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
}


main {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

main h2 {
    text-transform: uppercase;
}

.expense-income {
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.income, 
.expense {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0px;
    box-shadow: var(--shadow);
}

.income {
    background-color: var(--income-color);
    margin: 0px 20px 0px 0px;
    border: var(--border);
}

.expense {
    background-color: var(--expense-color);
    margin: 0px 0px 0px 20px;
    border: var(--border);
}

.income-list__title,
.expense-list__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 20px;
}
.income-list__title div,
.expense-list__title div {
    width: 10%;
}

.income-list__title span, 
.expense-list__title span {
    width: 20%;
    text-align: center;
}

.income-list, 
.expense-list {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-y: scroll;
    color: var(--white);
}

.income-list::-webkit-scrollbar, 
.expense-list::-webkit-scrollbar {
    display: none;
}

.income-list__item,
.expense-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.income-list__item div,
.expense-list__item div {
    width: 10%;
    text-align: left;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    opacity: 0.8;
}

.income-list__item span,
.expense-list__item span {
    width: 20%;
    margin-top: 10px;
    text-align: center;
}


.income-list__item__delete-btn__image,
.expense-list__item__delete-btn__image {
    width: 20px;
    height: 20px;
}

.income-list__item__delete-btn__image:hover,
.expense-list__item__delete-btn__image:hover {
    cursor: pointer;
}

.income-total,
.expense-total {
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

.income-total {
    color: rgba(0, 0, 255, 0.6);
}

.expense-total {
    color:rgba(255, 0, 0, 0.6);
}

.balance,
.addItem {
    width: 100%;
    height: 5%;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

.balance div {
    margin-top: 10px;
}

.addItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.addItem__form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.addItem__form__radios__and__select-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addItem__form__radios {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.addItem__form__radio-wrap input[type='radio'] {
    appearance: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: var(--border);
}

.addItem__form__radio-wrap:first-child input[type='radio'] {
    background-color: var(--income-color);
}

.addItem__form__radio-wrap:last-child input[type='radio'] {
    background-color: var(--expense-color);
}

.addItem__form__radio-wrap input[type='radio']:checked {
    transform: scale(1.3);
}

.addItem__form__select-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 15px;
}

.addItem__form__select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.addItem__form__select::-ms-expand {
    display: none;
}

.addItem__form__select {
    width: 80px;
    height: 45px;
    border: var(--border);
    border-radius: 4px;
    outline: 0 none;
    background-color: rgba(255, 255, 0, 0.5);
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    box-shadow: var(--shadow);
}

.addItem__form__select option {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 0, 0.8);
}

.addItem__form__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addItem__form__text input {
    width: 200px;
    height: 35px;
    margin: 5px;
    padding: 5px;
    border: var(--border);
    border-radius: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    box-shadow: var(--shadow);
}

.addItem__form input::placeholder {
    font-size: 16px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

@keyframes scaler {
    0% {
        
    }

    100% {
        transform: scale(1.1);
    }
}

.addItem__add-btn {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: var(--shadow);
    border: var(--border);
    color: var(--black);
    background-color: rgba(0, 128, 0, 0.7);
}

.addItem__add-btn:hover {
    cursor: pointer;
    animation: scaler 0.2s ease-in-out forwards;
}