@import url(variable.css);
@import url(reset.css);

body {
    width: 100%;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    background-color: rgba(172, 255, 47, 0.4);
    display: flex;
    color: var(--black);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.3);
    text-transform: uppercase;
}


main {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

main > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

main h2 {
    text-transform: uppercase;
}

.expense-income {
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: space-around;
}

.income, 
.expense {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 0px;
    box-shadow: var(--shadow);
}

.income {
    background-color: var(--income-color);
    margin: 0px 20px 0px 0px;
}

.expense {
    background-color: var(--expense-color);
    margin: 0px 0px 0px 20px;
}

.income-list__title,
.expense-list__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 20px;
}
.income-list__title div,
.expense-list__title div {
    width: 10%;
}

.income-list__title span, 
.expense-list__title span {
    width: 26%;
    text-align: center;
}

.income-list, 
.expense-list {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    overflow-y: scroll;
    color: var(--white);
}

.income-list::-webkit-scrollbar, 
.expense-list::-webkit-scrollbar {
    display: none;
}

.income-list__item,
.expense-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.income-list__item span,
.expense-list__item span {
    width: 26%;
    margin-top: 10px;
    text-align: center;
}

.income-list__item div,
.income-list__item button,
.expense-list__item div,
.expense-list__item button {
    width: 10%;
    text-align: left;
    margin-top: 10px;
    background-color: transparent;
    border: none;
    opacity: 0.8;
}

.income-total,
.expense-total {
    margin-top: 10px;
    font-size: 22px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

.income-total {
    color: rgba(0, 0, 255, 0.6);
}

.expense-total {
    color:rgba(255, 0, 0, 0.6);
}

.balance,
.addItem {
    width: 100%;
    height: 5%;
}

.balance div {
    margin-top: 10px;
    font-size: 22px;
}

.addItem__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addItem__form input {
    width: 300px;
    height: 35px;
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--black);
    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
    box-shadow: var(--shadow);
}

.addItem__form input::placeholder {
    font-size: 16px;
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

.addItem__btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scaler {
    0% {
        
    }

    100% {
        transform: scale(1.1);
    }
}

.addItem__btn__income,
.addItem__btn__expense {
    width: 130px;
    height: 50px;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: var(--shadow);
}

.addItem__btn__income:hover,
.addItem__btn__expense:hover {
    cursor: pointer;
    animation: scaler 0.2s ease-in-out forwards;
}

.addItem__btn__expense {
    background-color: var(--expense-color);
}
.addItem__btn__income {
    background-color: var(--income-color);
}